@model CategoryListViewModel


@{
    Layout = "_Layout3";
}
<a href="/Admin/CreateCategory" class="btn btn-primary">Add Category</a>
<div class="list-group">
        <table class="table">
        <thead class="thead-light">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
            @{var counter = 1;}
            @foreach (var category in Model.Categories)
            {
                <tr>
                    <th scope="row">@counter</th>
                    <td>@category.CategoryName</td>
                    <td>
                        <a asp-controller="Admin" asp-action="UpdateCategory" asp-route-id="@category.CategoryId" class="btn btn-primary">Edit </a>
                    </td>
                    <td>
                    <form method="post" asp-controller="Admin" asp-action="DeleteCategory" asp-route-id="@category.CategoryId">
                      <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    </td>
                </tr>
                counter ++;
            }
            </tbody>
        </table>
</div>
  