
@model PostModel
 
@{
    string message = ViewBag.Message;
   
    Layout = "_Layout3";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Form</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvMn4G93UJwE" crossorigin="anonymous">
    <!-- jQuery and jQuery UI (datepicker) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div class="container">
        <h2 align="center">Share Post</h2>
        <form method="post" asp-action="createpost" asp-controller="admin" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label for="PostTitle" class="form-label">Post Title</label>
                <input type="text" asp-for="PostTitle" class="form-control" id="PostTitle" name="PostTitle" required>
                <span asp-validation-for="PostTitle"></span>
            </div>
            <div class="mb-3">
                <label for="PostContent" class="form-label">Post Summary</label>
                <textarea class="form-control" asp-for="PostShortDescription" name="PostShortDescription" rows="4" required></textarea>
                <span asp-validation-for="Postcontent"></span>
            </div>
            <div class="mb-3">
                <label for="PostContent" class="form-label">Post Content</label>
                <textarea class="form-control" asp-for="Postcontent" id="editor" name="PostContent" rows="4" required></textarea>
                <span asp-validation-for="Postcontent"></span>
            </div>
           
             <div class="mb-3">
                <label asp-for="PostImageUrl">Upload Image:</label>
                <input asp-for="PostImageUrl" type="file" class="form-control-file">
                <span asp-validation-for="PostImageUrl" class="text-danger"></span>
            </div>
   
             
         
            <div class="mb-3">
                <label for="PostPublishedDate" class="form-label">Published Time</label>
                <input type="text" asp-for="PostPublishedDate" class="form-control" id="PostPublishedDate" name="PostPublishedDate" required>
                <span asp-validation-for="PostPublishedDate"></span>
            </div>
          
            <div class="mb-3">
                <select class="form-control" asp-for="CategoryId">
                 <label class="form-label">Category</label>
                 <option value="">Lütfen bir kategori seçiniz</option>
                @foreach (var category in ViewBag.Categories)
                {
                        <option value="@category.CategoryId">@category.CategoryName</option>
                }

                </select>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script>
        $(function () {
            $("#PostPublishedDate").datepicker({
                dateFormat: "yy-mm-dd", 
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                yearRange: "1900:2030" 
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>

    <script>
        CKEDITOR.replace('editor');
    </script>
</body>
</html>