@model CategoryModel 
@{
    Layout = "_Layout3";
}

<div class="col-md-6">
    <form method="post" asp-controller="Admin" asp-action="CreateCategory">
    <div asp-validation-summary="All" style="color:red;"></div>
    <label for="Name" class="form-label">Category Name :</label>
    <input type="text" asp-for="Name" class="form-control" name="Name" required>
    <span asp-validation-for="Name"></span>
    <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>

</div>