@model CategoryModel
@{
    Layout = "_Layout3";
}
<h4 align="center">Kategori Güncelle</h4>
<div class="col-md-6">
    <form method="post" asp-controller="Admin" asp-action="UpdateCategory" asp-route-id="@Model.CategoryId">
        
        <div asp-validation-summary="All" style="color:red;"></div>
        <input type="hidden" name="CategoryId" value="@(Model.CategoryId)" />
        <label for="Name" class="form-label">Kategori Adı</label>
        <input type="text" asp-for="Name" class="form-control" name="Name" required>
        <span asp-validation-for="Name"></span>
        <button type="submit" class="btn btn-primary mt-3">Kaydet</button>
    </form>

</div>