
<header>
   
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top bg-transparent">
    <div class="container">
        <a class="navbar-brand" href="/Home/Index">BlogErsen</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="admin" asp-action="panel">Admin Panel</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/Home/Index">Home</a>
                </li>
                @await Component.InvokeAsync("Categories")
             @*   <li class="nav-item">
                    <a class="nav-link" href="#">Hakkımda</a>
                </li>*@
                <li class="nav-item">
                    <form class="d-flex" asp-controller="Home" asp-action="Search" >
                        <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
