@model CategoryListViewModel
<style>
    .dropdown-item {
        cursor: pointer;
    }
</style>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Kategoriler
    </a>
    <ul class="dropdown-menu">
        @foreach (var category in Model.Categories)
        {
            <li><a href="/Home/GetPostByCategoryId/@category.CategoryId" class="dropdown-item">@category.CategoryName</a></li>
        }
    </ul>
</li>